<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="DiscordOAuthClientId" value="" />
        <add key="DiscordOAuthClientSecret" value="" />

        <!-- Any redirect uri will work, such as "http://localhost/test" -->
        <add key="DiscordOAuthRedirectUri" value="http://localhost/test" />
    </appSettings>
</configuration>
